body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  background-color: #000;
  overflow-x: hidden;
}

.bgimage {
  background-image: url(/Assests/BackgroundWatch.jpg);
  filter: blur(4px);
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

div#container {
  display: flex;
  justify-content: space-evenly;
}

#heading {
  color: rgb(209, 130, 12);
  font-size: 100px;
  margin-left: 120px;
  margin-top: 150px;
  transition: color ease-out 200ms;
}

input[type="text"],
[type="password"],
[type="email"] {
  padding-left: 20px;
  width: 19rem;
  height: 2rem;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.301);
}

input::placeholder {
  color: rgb(0, 0, 0);
}

.loginbtn {
  width: 21rem;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.555);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.301);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#loginheading {
  font-size: 35px;
  text-align: center;
  margin-left: 70px;
}

.Login {
  color: rgb(209, 130, 12);
  border: 0.1rem solid rgba(129, 129, 129, 0.37);
  border-radius: 3rem;
  width: 20rem;
  padding: 3rem;
  margin-left: auto;
  margin-right: 110px;
  margin-top: 110px;
  box-shadow: 0px 2px 20px #000;
  background-color: rgba(0, 0, 0, 0.35);
  transition: color ease-out 200ms;
}

#heading:hover {
  transition: ease-in-out 200ms;
  color: rgb(253, 253, 253);
}

.Login:hover {
  background-color: rgba(0, 0, 0, 0.664);
  transition: ease-in-out 200ms;
}

.loginbtn:hover {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.863);
  transition: ease 100ms;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

[type="text"]:hover,
[type="password"]:hover,
[type="email"]:hover {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: ease 100ms;
}
